<!-- Card Section -->
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card">
          <img src="https://media.istockphoto.com/id/484618379/photo/stortorget-gamla-stan-stockholm-hdr-image-e.jpg?s=612x612&w=0&k=20&c=txsOQ6c5kloQU3Dzyvt9LpV2caofErn5k8I-PLpMnhI=" class="card-img-top" alt="Image">
          <div class="card-body">
            <h5 class="card-title"><%=title%></h5>
            <p class="card-text">This is a card description. Bootstrap makes layout easy!</p>
            <a href="#" class="btn btn-outline-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>